.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.al-center {
    align-items: center;
}

.al-end {
    align-items: flex-end;
}

.just-center {
    justify-content: center;
}
.just-end{
    justify-content: flex-end;
}
.just-start{
    justify-content: flex-start;
}

.sp-between {
    justify-content: space-between;
}

.sp-around {
    justify-content: space-around;
}

.sp-evenly {
    justify-content: space-evenly;
}

.bd {
    border: 2px solid red;
}

.State_bar {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px;
    background: rgb(127 119 119 / 60%);
}

.Product-container {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    position: relative;
}

.btn_color {
    border-radius: 1px;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    cursor: pointer;
}

.btn_price {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.color-row {
    margin-top: 2%;
    width: 70%;
}

.Filter-box {
    margin-top: 20px;
}

.Filter-box>div {
    font-size: 14px;
    padding-bottom: 10px;
}

.Filter-box>div>input {
    margin-right: 5px;
}

.Filter-box>div>label {
    color: rgb(161, 161, 172)
}

